<%- include('layout/headerAbout') %>
  <!-- Hero Section -->
  <section id="page-header-about">



    <h2 style="color:rgb(162, 153, 153);">#About Us</h2>




</section>
<div class="about">
      <div class="container-4">
        <div class="a-61">
        </div>
        <div class="headline">
          <div class="propos-de-nous">
          À Propos de nous
          </div>
          <div class="subheading-for-description-or-instructions">
        
          </div>
          <span class="paragraph-1">
          Nous sommes le groupe MarketPulse, une équipe dédiée à révolutionner votre expérience de commerce en ligne. Notre mission est de vous offrir les meilleures offres, ainsi que de vous fournir une analyse complète des prix les plus bas et les plus élevés disponibles sur des plateformes majeures comme eBay et Jumia.
          </span>
        </div>
      </div>
     <!-- Feature Section -->
<section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="../img/features/f1.png" alt="">
      <h6>Comparaison des prix</h6>
    </div>
    <div class="fe-box">
      <img src="../img/features/f3.png" alt="">
      <h6>économiser de l'argent</h6>
    </div>
    <div class="fe-box">
      <img src="../img/features/f4.png" alt="">
      <h6>Promotion</h6>
    </div>
    <div class="fe-box">
      <img src="../img/features/f5.png" alt="">
      <h6>Happy sell</h6>
    </div>
    <div class="fe-box">
      <img src="../img/features/f6.png" alt="">
      <h6>Analyse de marché</h6>
    </div>
  </section>
   </div>   

<%- include('layout/footer') %>
